body {
  margin: 0;
  padding: 0;
  background-color: rgb(36, 24, 91);
  cursor: default;
}

header nav {
  padding: 0;
  display: flex;
  justify-content: space-around;
  font-family: "feneon", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(233, 88, 52);
  font-size: 30px;
  text-shadow: 2px 2px 5px rgba(233, 88, 52, 0.5);
  text-align: center;
}

a:hover {
  text-shadow: 5px 5px 20px rgba(233, 88, 52, 0.8);
  cursor: pointer;
}

.center {
  position: relative;
  
}


a{
  text-decoration: none;
  font-family: "feneon", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(233, 88, 52);
  font-size: 30px;
  text-shadow: 2px 2px 5px rgba(233, 88, 52, 0.5);
  text-align: center;
}




.intro {

  text-align: center; 
  font-family: "darkmode-on", sans-serif;
font-weight: 200;
font-style: normal;
  color: rgb(233, 88, 52); 
  font-size: 24px;
  margin: 160px;
  line-height: 1.5; 
}

.main-content {


}

.main-content h1 {
  font-family: "feneon", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(233, 88, 52); 
  font-size: 36px; 
  text-align: center; 
  text-shadow: 2px 2px 5px rgba(233, 88, 52, 0.5);
}

.main-content p {
  font-family: "feneon", sans-serif;
font-weight: 100;
font-style: normal;
text-align: center;
color: rgb(233, 88, 52); 
  font-size: 18px; 
  line-height: 1.5; 
  
}

.text p {
  font-family: "darkmode-on", sans-serif;
  font-weight: 100;
  font-style: normal;
  text-align: left;
  color: rgb(233, 88, 52); 
  font-size: 20px; 
  line-height: 1.5; 
  margin: 80px;
}

h1{
  font-family: "feneon", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(233, 88, 52); 
  text-shadow: 2px 2px 5px rgba(233, 88, 52, 0.5);
  font-size: 46px; 
  text-align: center; 
}